{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_eledia_coursesearch/nav-display-selector

    This template renders display dropdown.

    Example context (json):
    {
        "layouts": [
            {
                "id": "cards",
                "name": "Cards",
                "icon": "fa-th-large",
                "active": true,
                "arialabel": "Cards view"
            },
            {
                "id": "list",
                "name": "List",
                "icon": "fa-list",
                "active": false,
                "arialabel": "List view"
            },
            {
                "id": "summary",
                "name": "Summary",
                "icon": "fa-align-justify",
                "active": false,
                "arialabel": "Summary view"
            }
        ]
    }
}}
<div class="btn-group ms-auto ml-auto me-2 mr-2" role="group">
    {{#layouts}}
        <button
            class="btn btn-outline-primary eledia-courseseach-viewbtn {{#active}}active{{/active}}"
            data-display-option="display"
            data-value="{{id}}"
            data-pref="{{id}}"
            title="{{name}}"
            data-title="{{name}}"
            data-bs-title="{{name}}"
            data-toggle="tooltip"
            data-bs-toggle="tooltip"
            aria-label="{{arialabel}}"
            aria-pressed="{{#active}}true{{/active}}{{^active}}false{{/active}}"
        >
            <i class="fa {{icon}}" aria-hidden="true"></i>
        </button>
    {{/layouts}}
</div>
